@font-face {
  font-family: 'Bungee Hairline';
  src: url("/fonts/BungeeHairline-Regular.ttf"); }

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Thin.ttf"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("/fonts/Material Icons"), local("/fonts/MaterialIcons-Regular"), url(/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/fonts/MaterialIcons-Regular.woff) format("woff"), url(/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Bungee Hairline', sans-serif;
  margin: 0;
  padding: 0;
  border: 0; }

img {
  max-width: 250px; }

textarea {
  resize: none; }

textarea,
input[type="text"] {
  border: 1px solid #E1E2E1; }

i {
  font-family: 'Material Icons';
  font-style: normal; }

#message-container {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 0;
  background: #E1E2E1; }

.error {
  background-color: #D4CACE;
  color: #FF0000; }

.message-text {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19pt;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 5px; }

.clickable {
  cursor: pointer; }

#wrapper {
  width: 100%;
  margin: 0; }

#inner-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

.content {
  font-family: 'Raleway';
  width: 95%;
  margin: auto;
  font-weight: 200; }

#header {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(#E1E2E1, #fff);
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

#header > h1 {
  margin: 0;
  padding-right: 25px;
  padding-top: 10px;
  font-size: 40pt; }

#login {
  padding-right: 25px;
  padding-top: 10px; }

#main-content {
  width: 75%;
  margin: 0 2% auto;
  padding: 10px 5px; }

#ad-content {
  width: 25%;
  height: 100%;
  background-color: #E1E2E1;
  display: inline-block; }

#main-nav {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #E1E2E1; }

.nav-item-box:hover,
.button:hover:not(:disabled),
button:hover:not(:disabled) {
  background-image: linear-gradient(#fff, #E1E2E1); }

button[disabled],
.button:disabled {
  background-color: #F8F8FF;
  border-color: #F8F8FF; }

.button,
button,
.button:visited {
  text-decoration: none;
  border: 1px solid #E1E2E1;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #E1E2E1;
  text-decoration: none;
  padding: 5px; }

.button:active:not(:disabled),
button:active:not(:disabled) {
  transform: translate(1px, 1px); }

.nav-item-box {
  height: 25px;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center; }

.nav-item-box.selected {
  background-image: linear-gradient(#fff, #E1E2E1); }

#nav-list {
  margin: 0;
  display: flex;
  flex-flow: row; }

.nav-item {
  text-decoration: none;
  color: #323232;
  font-size: 18pt; }

#nav-list > li + li {
  margin-left: 5px; }

nav > ul > li {
  list-style: none; }

.blog-post,
#form-container,
.about-content {
  width: 90%;
  padding: 0 2%;
  margin: auto; }

#main-content > .blog-post + .blog-post {
  margin-top: 10px;
  border-top: 1px solid #E1E2E1;
  padding-top: 25px; }

.title-container {
  padding: 10px 10px 0 10px;
  height: 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

.title-text {
  font-size: 24pt;
  font-weight: bold;
  display: block; }

.header {
  margin-bottom: 10px; }

.sub-header {
  font-size: 9pt;
  font-style: oblique;
  padding-left: 20px; }

.edit-button {
  margin-left: auto;
  margin-right: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%; }

.content > .paragraph + .paragraph {
  margin-top: 10px; }

.paragraph {
  display: block;
  min-height: 16px; }

.control-group {
  vertical-align: top;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 0 auto 5px; }

.control-group > label {
  width: 125px;
  margin: 0 5px auto; }

.control-group > input,
.control-group > textarea {
  width: 525px;
  font-size: 14pt;
  padding: 0;
  margin: 0;
  font-family: 'Raleway'; }

#post-input {
  height: 500px; }

#post-form {
  width: 700px;
  display: flex;
  flex-flow: column;
  align-content: flex-start; }

#post-submit {
  align-self: flex-end;
  margin-top: 15px;
  margin-right: 19px; }

#ad-content {
  border: 1px solid #E1E2E1; }

#post-footer-toolbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 2px 300px; }
