@import 'colors';
.arc {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    .input-form {
        width: 150px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        .control-group {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 5px;
            width: 100%;
            .input-group-group {
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                .input-group {
                    display: flex;
                    flex-flow: column;
                    justify-content: flex-start;
                    align-items: center;
                    input {
                        width: 70px;
                        border: none;
                    }

                    #startX,
                    #startY {
                        box-shadow: 0.5px 0.5px 1px 0.125px $green;
                    }
                    #endX,
                    #endY {
                        box-shadow: 0.5px 0.5px 1px 0.125px $red;
                    }
                    #cx1,
                    #cy1 {
                        box-shadow: 0.5px 0.5px 1px 0.125px $blue;
                    }
                    #cx2,
                    #cy2 {
                        box-shadow: 0.5px 0.5px 1px 0.125px $purple;
                    }
                }
            }
        }
    }
    #canvas {
        box-shadow: 1px 1px 2px 1px $grey;
        max-height: 100%;
        margin-left: 15px;
    }
}