@import "colors";
#binary-calc {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    margin-top: 5px;
    * {
        font-family: 'mono';
    }
    .byte {
        display: flex;
        flex-flow: column;
        flex-basis: 50%;
        border: 1px solid $grey;
        .byte-name {
            font-size: 18pt;
            margin: 0;
            text-align: center;
        }
        .nibbles {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            border: 1px solid $grey;
            .nibble {
                display: flex;
                flex-flow: row;
                border-width: 1px;
                border-style: solid;
                flex-basis: 50%;
                align-items: center;
                &.left {
                    border-color: $red;
                }
                &.right {
                    border-color: $blue;
                }
                .bit {
                    border: 1px solid black;
                    text-align: center;
                    font-size: 48pt;
                    flex-basis: 25%;
                    .bit-switch {
                        display: none;
                    }
                    .bit-value {
                        display: block;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #current-total {
        font-size: 26pt;
        line-height: 78px;
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media (max-width: 841px) {
    #binary-calc {    
        .byte {
            .nibbles {
                .nibble {
                    .bit {
                        .bit-value {
                            font-size: 14pt;
                        }
                    }

                }
            }
        }
        #current-total {
            font-size: 14pt;
            line-height: 14pt;
        }
    }
}