.endian-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 450px;
    border: 1px solid rgba(0,0,0,0.5);
    .endian-title {
        font-size: 18pt;
        display: block;
        width: 100%;
        background: rgba(0,0,0,0.5);
        color: white;
    }
    * {
        font-family: 'mono';
        font-size: 16pt;
    }
    .endian-controls {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        .radio-wrapper {
            .radio-title {
                display: block;
                width: 100%;
                text-align: center;
            }
            display: flex;
            flex-flow:column;
            .radio-group {
                display: flex;
                flex-flow: row;
                align-items: center;
                .radio + .radio {
                    margin-left: 5px;
                }
                .radio {
                    display: flex;
                    flex-flow: row;
                    flex-basis: 50%;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 5px;
                    padding: 5px 10px;
                    cursor: pointer;
                    &.selected {
                        background: rgba(0, 180, 255, 0.5);
                    }
                    .end-ness {
                        margin-left: 0;
                    }
                }
            }
        }
        .unsigned-ints {
            display: flex;
            flex-flow: row;
            .input-group + .input-group {
                margin-left: 5px;
            }
            .input-group {
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                input {
                    width: 50px;
                    margin-top: 5px;
                    -moz-appearance: textfield;
                    ::-webkit-outer-spin-button,
                    ::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }

            }
        }
    }
    .representations {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        .representation + .representation {
            margin-left: 5px;
        }
        .representation {
            display: flex;
            flex-flow: column;
            align-items: center;
            flex-basis: 50%;
            .name {
                border-bottom: 1px double black;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
        
    }
}