@font-face {
    font-family: 'Raleway-light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Raleway.Light.woff2');
}

@font-face {
    font-family: 'Raleway-regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Raleway.Regular.ext.woff2');
}

@font-face {
    font-family: 'mono';
    src: url('fonts/CutiveMono-Regular.ttf')
}