
.post-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 25px;
    .post-summary {
        border-radius: 10px;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
        padding: 0 5px;
        display: flex;
        flex-flow: column;
        text-decoration: none;
        color: black;
        &:hover {
            box-shadow: 1px 1px 2px 1px rgba(0, 180, 255, 0.5);
        }
        h3 {
            font-weight: bold;
            padding: 0;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 2px;
        }
    }
}