
.page-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    h2 {
        font-size: 14pt;
    }
    .post-summary {
        border-radius: 10px;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
        padding: 0 5px;
        display: flex;
        flex-flow: column;
        text-decoration: none;
        color: black;
        width: 250px;
        margin-top: 15px;
         + .post-summary {
             margin-left: 15px;
         }
        &:hover {
            box-shadow: 1px 1px 2px 1px rgba(0, 180, 255, 0.5);
        }
        &.draft {
            box-shadow: 1px 1px 4px 1px rgba(255, 105, 105, 0.5);
        }
        h3 {
            font-weight: bold;
            padding: 0;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 2px;
        }
    }
}
 @media (max-width: 841px) {
     .page-list {
         .post-summary {
            + .post-summary {
                margin-left: 0;
            }
         }
     }
 }