@import "colors";
#pacman {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    #start-stop {
        border: 0;
        background: $blue;
        color: white;
        box-shadow: 1px 1px 1px 1px $grey;
        margin: 10px 0;
        font-size: 14pt;
        padding: 2px 5px;
        &:active {
            box-shadow: 0 0 0 0 $grey ;
            transform: translate3d(-1, -1);
        }
    }

    #canvas {
        width: 100%;
    }
}