@import './colors';
#content {
    width: 100%;
    pre,
    p {
        font-size: 16pt;
    }
    .draft-message {
        margin: 0 auto;
        display: block;
        color: rgba(255, 105, 105, 1);
        font-style: italic;
        width: 100%;
        text-align: center;
        &::before,
        &::after {
            content: '  !!  ';
        }
    }

    h2 {
        margin: 0;

    }
    blockquote {
        ::before {
            content: '► ';
        }
        color: white;
        background: $blue;
        font-size: 10pt;
        padding: 0 5px 0 0;
        line-height: 0.5;
        margin-top: 5px;
        p {
            color: white;
            font-size: 10pt;
            padding: 0 5px;
            margin: 0;
        }
    }
}

pre {
    overflow-x: auto;
    max-width: 100%;
    white-space: pre;
    min-width: 75%;
    border: 1px solid #fafafa;
    color: rgba(0, 180, 255, 0.5);
    background-color: white !important;
    font-size: 18pt;
    span {
        background-color: white !important;
    }
}

code {
    background-color: white;
    font-family: 'mono';
    border: 1px solid #fafafa;
    color: rgba(0, 180, 255, 0.5);
    border-radius: 2px;
    padding: 0 2px;
    font-size: 16pt;
}

.series-list {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    list-style: none;
    padding-left: 5px;

    .series-entry {
        font-size: 12pt !important;
        span {
            font-weight: bold;
            font-style: oblique;

        }
    }
}

.doc-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    tr {
        .number-cell {
            text-align: center;
        }
        td {
            border: 1px solid black;
            vertical-align: center;
            padding: 0 2px;
        }
        th {
            border: 2px solid black;
        }
    }
}
.hidable {
    .hider {
        cursor: pointer;
    }
    .hidable-content {
        &.hidden {
            display: none;
        }
    }
}

@media (min-width: 841px) {
    pre {
        min-width: 75%;
    }
}

table {
    border: 1px solid $grey;
    border-collapse: collapse;
    tr {
        border: 1px solid $grey;
        td,th {
            border: 1px solid $grey;
            font-family: 'mono';
            padding: 2px 5px;
        }
        th {
            background: $blue;
            color: white;
        }
    }
}

