#content {
    pre,
    p,
    blockquote, {
        font-size: 16pt;
    }
    .draft-message {
        margin: 0 auto;
        display: block;
        color: rgba(255, 105, 105, 1);
        font-style: italic;
        width: 100%;
        text-align: center;
        &::before,
        &::after {
            content: '  !!  ';
        }
    }

    h2 {
        margin: 0;

    }
}

pre {
    overflow-x: auto;
    max-width: 100%;
    white-space: pre;
    filter: invert(5%);
}
code {
    font-family: 'mono';
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 2px;
    padding: 0 2px;
}

.series-list {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    list-style: none;
    padding-left: 5px;

    .series-entry {
        font-size: 12pt !important;
        span {
            font-weight: bold;
            font-style: oblique;

        }
    }
}

.doc-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    tr {
        .number-cell {
            text-align: center;
        }
        td {
            border: 1px solid black;
            vertical-align: center;
            padding: 0 2px;
        }
        th {
            border: 2px solid black;
        }
    }
}

.endian-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 350px;
    border: 1px solid rgba(0,0,0,0.5);
    .endian-title {
        font-size: 16pt;
        display: block;
        width: 100%;
        background: rgba(0,0,0,0.5);
        color: white;
    }
    * {
        font-family: 'mono';
    }
    .endian-controls {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        .radio-wrapper {
            .radio-title {
                display: block;
                width: 100%;
                text-align: center;
            }
            display: flex;
            flex-flow:column;
            .radio-group {
                display: flex;
                flex-flow: row;
                align-items: center;
                .radio + .radio {
                    margin-left: 5px;
                }
                .radio {
                    display: flex;
                    flex-flow: row;
                    flex-basis: 50%;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 5px;
                    padding: 2px 5px;
                    cursor: pointer;
                    &.selected {
                        background: rgba(0, 180, 255, 0.5);
                    }
                    .end-ness {
                        margin-left: 0;
                    }
                }
            }
        }
        .unsigned-ints {
            display: flex;
            flex-flow: row;
            .input-group + .input-group {
                margin-left: 5px;
            }
            .input-group {
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                input {
                    width: 50px;
                    margin-top: 5px;
                    -moz-appearance: textfield;
                    ::-webkit-outer-spin-button,
                    ::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }

            }
        }
    }
    .representations {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        .representation + .representation {
            margin-left: 5px;
        }
        .representation {
            display: flex;
            flex-flow: column;
            align-items: center;
            flex-basis: 50%;
            .name {
                border-bottom: 1px double black;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
        
    }
}