@import "colors";
* {
    box-sizing: border-box;
    font-family:  'Raleway-light';
}

body,
html, {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}


pre,
blockquote {
    border-radius: 5px;
    padding: 0px 10px 10px;
    display: inline-block;
    max-width: 100%;
    white-space: pre-wrap;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
}

pre > span {
    font-family: mono;
}
text {
    font-family: 'Raleway-light';
}

@media (max-width: 841px) {
    #nav-sidebar {
        .site-description {
            display: none;
        }
        .nav-button {
            font-size: 12pt;
            span {
                display: none;
            }
        }
    }

    #content-wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        #content {
            width: 100%;
            padding: 5px;
        }
        #ad-bar {
            width: 100%;
            height: 75px;
            background: $grey;
        }
    }
}
@media (min-width: 841px) {
    #content-wrapper {
        display: flex;
        flex-flow: row;
        width: 80%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        #content {
            padding: 50px 25px;
            flex-grow: 1;
            flex-shrink: 1;
            padding-bottom: 25px;
        }
    
        #ad-bar {
            width: 150px;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            background: $grey;
        }
    }
}
#nav-sidebar {
    width: 20%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    box-shadow: 2px 1px 4px 1px rgba(0,0,0,0.5);
    .icon-wrapper {
        padding: 20px 10px 10px 10px;
    }
    .site-description {
        font-size: 16pt;
        margin-left: 10px;
    }
    a {
        text-decoration: none;
        color: unset;
        &:visited,
        &:active {
            color: unset;
        }
        svg {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            .icon-background,
            .cutout {
                fill: $blue;
                stroke: none;
            }
            #lines {
                stroke: $blue;
                fill: none;
            }
            .icon {
                fill: white;
                font-size: 70pt;
            }

        }
    }
    .nav-button,
    .nav-button:visited {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 10px);
        padding: 20px 10px 20px 10px;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
        text-decoration: none;
        color: rgba(0,0,0,0.5);
        margin-top: 10px;
        font-size: 20pt;
        font-weight: bold;
        margin-left: 10px;
    }

    .nav-button:hover {
        box-shadow: 1px 1px 2px 1px rgba(0, 180, 255, 0.5);
    }

    .nav-button:active {
        transform: translate(4, -4);
    }
}


blockquote,
blockquote > * {
    margin: 0;
}

blockquote {
    box-shadow: 1px 1px 2px 1px rgba(0, 180, 255, 0.5);
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clipboard-popup {
    box-shadow: 1px 1px 2px 1px $grey;
    background: white;
    border: 1px solid $grey;
}

