* {
    box-sizing: border-box;
    font-family:  'Raleway-light';
}

body,
html, {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

pre {
    border-radius: 5px;
    padding: 0px 10px 10px;
    display: inline-block;
    max-width: 100%;
    white-space: pre-wrap;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
}

pre > span {
    font-family: mono;
}
text {
    font-family: 'Raleway-light';
}

#nav-sidebar {
    width: 25%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
    padding-left: 10px;
    span {
        font-size: 16pt;
    }
    a {
        text-decoration: none;
        color: unset;
        &:visited,
        &:active {
            color: unset;
        }
    }
    .nav-button,
    .nav-button:visited {
        display: block;
        width: 100%;
        padding: 20px 10px 20px 10px;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
        text-decoration: none;
        color: rgba(0,0,0,0.5);
        margin-top: 10px;
        font-size: 20pt;
        font-weight: bold;
    }

    .nav-button:hover {
        box-shadow: 1px 1px 2px 1px rgba(0, 180, 255, 0.5);
    }

    .nav-button:active {
        transform: translate(4, -4);
    }
}

#content {
    width: calc(75% - 250px);
    padding: 50px 25px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(75% - 250px);
}

#ad-bar {
    width: 250px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.5);
}