.draft-message {
    color: red;
    text-align: center;
}

.draft-message::before,
.draft-message::after {
    content: ' !! ';
}

.sidebar {
    .container {
        .sidebar-about {
            a {
                h1 {
                    font-family: 'mono';
                }
            }
            p {
                font-family: 'mono';
            }
        }
        .sidebar-nav {
            .sidebar-nav-item {
                a {
                    font-family: 'mono';
                }
            }
        }
    }
}
