@import 'colors';

#voice {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    padding-bottom: 7px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
    #utterance-group {
        width: 100%;
        label {
            background: $grey;
            color: #fff;
            font-family: 'mono';
            width: 100%;
        }
    }
    .input-group {
        display: flex;
        flex-flow: column;
        label {
            font-size: 16pt;
            font-weight: bold;
        }
        textarea {
            border: 1px solid $grey;
            border-top: none;
            resize: none;
            height: 50px;
        }
    }
    .bottom-group {
        width: calc(100% - 10px);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @media (min-width: 841px) {
            justify-content: space-between;
        }
        .input-group {
            display: flex;
            flex-flow: column;
            margin-top: 10px;

            label {
                font-size: 12pt;
            }

            select {
                border: none;
                font-size: 14pt;
                width: 250px;
                box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
            }
        }
        .button-group {
            display: flex;
            flex-flow: row;
            align-items: flex-end;
            margin-top: 10px;
            @media (min-width: 841px) {
                height: 100%;
                margin-top: 0;
            }
            button {
                padding: 5px 10px;
                border: none;
                margin-right: 5px;
                font-size: 14pt;
                border-radius: 5px;
                border: none;
                background: #fff;
                box-shadow: 1px 1px 1px 1px $grey;
                &#submit {
                    background: $blue;
                }
            }
        }
    }
}
