<link type="text/css" rel="stylesheet" href="/andor.css" />
<div id="andor">
    <div class="title">
        <span>Interactive Bit &/| Calculator</span>
    </div>
    <div id="andor-wrapper">
        <div class="values">
            <div class="inputs">
                <div class="input-group">
                    <label for="left-bits">Left Byte</label>
                    <input class="user-input" id="left-bits" value="0" type="number" min="0" max="255" />
                </div>
                <div class="input-group">
                    <label for="right-bits">Right Byte</label>
                    <input class="user-input" id="right-bits" value="0" type="number" min="0" max="255" />
                </div>
            </div>
            <div class="representation">
                <span id="big-bits">0000 0000</span>
                <span id="little-bits">0000 0000</span>
            </div>
        </div>
        <div class="adjustments">
            <div class="buttons">
                <button title="Binary And" type="button" class="button" id="left-shift" operation="and">
                    <span>&</span>
                </button>
                <button title="Binary Or" type="button" class="button" id="right-shift" operation="or">
                    <span>|</span>
                </button>
            </div>
            <div class="total">
                <span class="total-value">0</span>
                <span class="binary-total">0000 0000</span>
            </div>
        </div>
    </div>
    
</div>
<script type="module" src="/js/AndOr.js"></script>
