<link type="text/css" rel="stylesheet" href="/binary_calc.css" />
<div id="binary-calc">
    <div class="byte">
        <h3 class="byte-name">128</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">120</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">112</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">104</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">96</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">88</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">80</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">72</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">64</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">56</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">48</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">40</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">32</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">24</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">16</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="byte">
        <h3 class="byte-name">8</h3>
        <div class="nibbles">
            <div class="nibble left">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
            <div class="nibble right">
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
                <div class="bit">
                    <input type="checkbox" class="bit-switch" />
                    <span class="bit-value">0</span>
                </div>
            </div>
        </div>
    </div>
    <span id="current-total">0</span>
    <script type="module" src="/js/binary_calc.js"></script>
</div>
