<link type="text/css" rel="stylesheet" href="/birthday2018.css" />
<form class="rsvp-form">
    <span class="form-title">RSVP</span>
    <div class="inputs">
        <div class="input-group">
            <label for="name">You Name</label>
            <input id="name" />
        </div>
        <div class="input-group">
            <label for="mustard">Your Mustard</label>
            <input id="mustard" />
        </div>
    </div>
    <div class="button-group">
        <button class="form-button" id="cancel" type="button">Cancel</button>
        <button class="form-button" id="submit-rsvp" type="button">Save</button>
    </div>
</form>
<div id="response-list">
    <span id="list-title">RSVPs</span>
    <div id="rsvp-list">
    </div>
</div>
<script type="text/javascript" src="/js/birthday2018.js"></script>