<link type="text/css" rel="stylesheet" href="/counter.css" />
<table id="binary-counting-table">
    <tr class="title">
        <td colspan="9">Binary Counter</td>
    </tr>
    <tr>
        <th>128</th>
        <th>64</th>
        <th>32</th>
        <th>16</th>
        <th>8</th>
        <th>4</th>
        <th>2</th>
        <th>1</th>
        <th>total</th>
    </tr>
    <tr>
        <td class="digit" id="128">0</td>
        <td class="digit" id="64">0</td>
        <td class="digit" id="32">0</td>
        <td class="digit" id="16">0</td>
        <td class="digit" id="8">0</td>
        <td class="digit" id="4">0</td>
        <td class="digit" id="2">0</td>
        <td class="digit" id="1">0</td>
        <th id="total">0</td>
    </tr>
</table>
<button id="start-counting">Start counting</button>
<script type="text/javascript" src="/js/binaryPt1.js"></script>