<link type="text/css" rel="stylesheet" href="/shifter.css" />
<div id="shifter">
    <div class="title">
        <span>Interactive Bit Shifting Calculator</span>
    </div>
    <div id="shifter-wrapper">
        <div class="values">
            <div class="input-group">
                <label for="u16">u16</label>
                <input id="u16" value="0" type="number" min="0" max="65535" />
            </div>
            <div class="representation">
                <span id="big-bits">0000 0000</span>
                <span id="little-bits">0000 0000</span>
            </div>
        </div>
        <div class="adjustments">
            <div class="shift-buttons">
                <button type="button" class="shift-button" id="left-shift">
                    <span>Left Shift</span>
                    <span><<</span>
                </button>
                <button type="button" class="shift-button" id="right-shift">
                    <span>Right Shift</span>
                    <span>>></span>
                </button>
            </div>
            <div class="counter">
                
            </div>
        </div>
    </div>
</div>
    <script type="module" src="/js/shifter.js"></script>
