<link type="text/css" rel="stylesheet" href="/twos-comp.css" />
<div id="twos-comp-slider-container">
    <div id="twos-comp-slider-title" class="title">
        <span>Two's Compliment Slider</span>
    </div>
    <div id="twos-comp-slider">
        <div id="twos-comp-slider-bar"></div>
        <div id="twos-comp-slider-position"></div>
    </div>
    <span id="twos-comp-slider-title-unsigned">Unsigned 8 Bit Int</span>
    <span id="twos-comp-slider-unsigned">1</span>
    <span id="twos-comp-slider-title-signed">Signed 8 Bit Int</span>
    <span id="twos-comp-slider-signed">1</span>
    <span id="twos-comp-slider-title-bin">Bits</span>
    <span id="twos-comp-slider-bin">
        <span class="nibble">0000</span>
        <span class="nibble">0001</span>
    </span>
</div>
<script type="text/javascript" src="/js/twos-comp.js"></script>