<link type="text/css" rel="stylesheet" href="/twos-counter.css" />
<div id="twos-comp">
    <table id="twos-comp-table">
        <thead>
            <tr class="title">
                <td colspan="10">Binary Counter</td>
            </tr>
            <tr>
                <th>128</th>
                <th>64</th>
                <th>32</th>
                <th>16</th>
                <th>8</th>
                <th>4</th>
                <th>2</th>
                <th>1</th>
                <th>signed</th>
                <th>unsigned</th>
            </tr>
        </thead>
        <tbody>
            <tr id="twos-comp-values-row">
                <td id="twos-comp-128">0</td>
                <td id="twos-comp-64">0</td>
                <td id="twos-comp-32">0</td>
                <td id="twos-comp-16">0</td>
                <td id="twos-comp-8">0</td>
                <td id="twos-comp-4">0</td>
                <td id="twos-comp-2">0</td>
                <td id="twos-comp-1">0</td>
                <td id="u8-total">0</td>
                <td id="i8-total">0</td>
            </tr>
        </tbody>
    </table>
    <button type="button" id="twos-comp-start-unsigned">Start Counting (unsigned)</button>
    <button type="button" id="twos-comp-start-signed">Start Counting (signed)</button>
</div>
<script type="text/javascript" src="/js/twosCounter.js"></script>