<link type="text/css" rel="stylesheet" href="/voice.css" />
<div id="voice">
    <div class="input-group" id="utterance-group">
        <label for="next-utter">What do you want to say?</label>
        <textarea id="next-utter"></textarea>
    </div>
    <div class="bottom-group">
        <div class="input-group">
            <label for="voice-selection">Voice</label>
            <select id="voice-selection"></select>
        </div>
        <div class="button-group">
            <button type="reset" id="clear">Clear</button>
            <button type="submit" id="submit">Say</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/voice.js"></script>