<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/fonts.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
        <aside id="nav-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 40">
                <defs>
                  <clipPath id="clip-name">
                    <text
                      x="0"
                      y="26"
                      dx="10"
                      textLength="80"
                      style="font-weight: bold;"
                      >{{config.title}}</text>
                  </clipPath>
                  <linearGradient id="pattern">
                      <stop id="trailer" offset="0%" stop-color="rgba(0,0,0,0.3)" />
                      <stop id="color" offset="0%" stop-color="rgba(0, 180, 255, 0.5)" />
                      <stop id="leader" offset="0%" stop-color="rgba(0,0,0,0.3)" />
                  </linearGradient>
                </defs>
              <path
                    id="main-panel"
                    class="box-section"
                    clip-path="url(#clip-name)"
                    fill="url(#pattern)"
                    stroke="none"
                    stroke-width=1
                    stroke-linecap="round" 
                    stroke-linejoin="round"
                    d="M 10 10
                       l 80 0
                       l 0 20
                       l -80 0
                       z"
                    />
                <path
                      fill="rgba(0, 180, 255, 0.5)"
                      class="box-section"
                      stroke="none"
                      stroke-linecap="round" 
                      stroke-linejoin="round"
                      d="M 9.75 10.125
                         l -5 5
                         l 0 20
                         l 5 -5"
                      />
                <path
                      fill="url(#pattern)"
                      class="box-section"
                      stroke="none"
                      stroke-width="0.25"
                      stroke-linecap="round" 
                      stroke-linejoin="round"
                      d="M 10 30.25
                         l -5 5
                         l 80 0
                         l 5 -5"
                      />

              </svg>
            <span class="site-description">{{config.description}}</span>
            <a class="nav-button" href="/">
                <span>Home</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <circle class="icon-background" cx="50" cy="50" r="49"/>
                    <path class="icon"
                          d="
                             M 5 44
                             l 45 -33
                             l 45 33
                             l -15 0
                             l 0 35
                             l -60 0
                             l 0 -35
                             z"
                          />
                  </svg>
            </a>
            <a class="nav-button" href="/utils">
                <span>Utilities</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="49" class="icon-background"/>
                    <path class="icon"
                          d="
                             M 15 75
                             l 60 -60
                             l 5 5
                             l -60 60
                             z
                             "
                          />
                    <path class="icon"
                          d="
                             M 85 75
                             l -60 -60
                             l -5 5
                             l 60 60
                             z"
                          />
                    <path class="icon"
                          d="
                             M 22 22
                             l -10 10
                             l 10 10
                             l 20 -20
                             l 10 -18
                             l -18 7
                             z"
                          />
                    <circle class="wrench-head icon"
                            cx="71"
                            cy="25"
                            r="15"
                            clipPath="url(#wrench-cutout)"
                          />
                    <path class="cutout"
                          d="M 79 11
                             l 5 5
                             l -10 10
                             l -5 -5
                             z"
                          />
                  </svg>
            </a>
            <a class="nav-button" href="/about/index.html">
                <span>
                    About
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="49" class="icon-background"/>
                    <text class="icon" x="18" y="75">A</text>
                </svg>
            </a>
            <a class="nav-button" href="/contact/index.html">
                <span>
                    Contact
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="49" class="icon-background"/>
                    <path
                    class="icon"
                    d="
                    M 15 30
                    l 70 0
                    l 0 40
                    l -70 0
                    z
                    "
                    />
                    <path id="lines"
                    d="
                    M 14 29
                    l 35 25
                    l 35 -25
                    M 86 70
                    l -34 -19
                    m -8 0
                    l -30 20
                    "
                    />
                </svg>
            </a>
        </aside>
        <div id="content-wrapper">
            <div id="content">
                {% block content %}

                {% endblock content %}
            </div>
            <div id="ad-bar">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- static_wired -->
                <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-3645196637290477"
                        data-ad-slot="2745081135"
                        data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                startBling();
                // bling();
            });

            function startBling() {
                let interval = Math.floor((Math.random() * 30 + 10) * 1000)
                setTimeout(() => {
                bling();
                    startBling()
                }, interval)
            }
            function bling() {
                setTimeout(() => {
                    if (frame()) {
                        bling()
                    }
                }, 1);
            }
            function frame() {
                let pattern = document.getElementById('pattern');
                let color = pattern.querySelector('#color');
                if (increaseOffset(color) >= 1) {
                    color.setAttribute('offset', '0%');
                    return false;
                }
                return true;
            }

            function getOffset(element) {
                let offsetStr = element.getAttribute('offset');
                return parseInt(offsetStr.replace('%', ''));
            }

            function increaseOffset(element) {
                let offset = getOffset(element);
                if (offset < 100) {
                    element.setAttribute('offset', offset + 4 + '%');
                    return 0;
                } else {
                    return 1;
                }
            }
        </script>
    </body>
</html>