{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="/contact.css" />
    <form id="contact" action="/contact" method="POST">
        {{macros::input_group(label="Your Name")}}
        {{macros::input_group(label="Your Email Address")}}
        {{macros::area_group(label="Your Message")}}
        <div class="button-group">
            <button type="button" class="form-button cancel" onclick="window.location.assign('/')">Cancel</button>
            <button type="submit" class="form-button submit">Submit</button>
        </div>
    </form>
{% endblock content %}