<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <aside id="nav-sidebar">
            <h1>Wired Forge</h1>
            <span>A blog about software development</span>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </aside>
        <div>

        </div>
    </body>
</html>