{% extends "base.html" %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/index.css" />
<div class="page-list">
    <h2>Posts</h2>
    {% set posts = get_section(path="blog/_index.md") %}
    <div class="post-list">
        {% for page in posts.pages %}
            {% if page.draft %}
                <a class="post-summary draft" href="/{{page.path}}index.html" title="This post is a work in progress">
            {% else %}
                <a class="post-summary" href="/{{page.path}}index.html">
            {% endif %}
                <h3>{{page.title}}</h3>
                <span class="sub-title">
                    {{page.date}}
                </span>
                <img src="/images/sqlite.gif" height="100" />
                <span class="summary">
                    {{page.extra.snipet}}                    
                </span>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}