{% extends "index.html" %}

{% block content %}

<div class="post">
  {% if page.title %}
  <h1 class="post-title">{{ page.title }}</h1>
  {% elif section.title %}
  <h1 class="post-title">{{ section.title }}</h1>
  {% endif %}

  {% if page.date %}
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  {% elif section.date %}
  <span class="post-date">{{ section.date | date(format="%Y-%m-%d") }}</span>
  {% endif %}
  {% if page.content %}
  {{ page.content | safe }}
  {% elif section.content %}
  {{ section.content | safe }}
  {% endif %}
</div>
{% endblock content %}

