{% extends "index.html" %}

{% block content %}

<div class="post">
  {% if page.draft %}
    <span class="draft-message">This is a work in progress.</span>
  {% endif %}
  {% if page.title %}
  <h2 class="post-title">{{ page.title }}</h2>
  {% elif section.title %}
  <h2 class="post-title">{{ section.title }}</h2>
  {% endif %}
  {% if page.extra and page.extra.snippet %}
  <h3 class="post-subtitle">{{ page.extra.snippet }}</h3>
  {% endif %}

  {% if page.date %}
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  {% elif section.date %}
  <span class="post-date">{{ section.date | date(format="%Y-%m-%d") }}</span>
  {% endif %}
  {% if page.content %}
  {{ page.content | safe }}
  {% elif section.content %}
  {{ section.content | safe }}
  {% endif %}
</div>
{% endblock content %}
