{% extends "index.html" %}

{% block content %}

<div class="page-list">
    {% set pages = section.pages %}
    {% for sub in section.subsections %}
        {% set sub = get_section(path=sub) %}
        {% set_global pages = pages | concat(with=sub.pages) %}
    {% endfor %}
    {% for page in pages %} 
        {% if not page.draft and not page.extra.private %}
            <a class="post-summary" href={% if page.extra.extern_link %}"{{page.extra.extern_link}}"{% else %}"{{config.base_url}}/{{page.path}}index.html"{% endif %}>
                <h3>{{ page.title }}</h3>
            </a>
            {% if page.extra.snippet %}
                <span class="summary">
                    {{page.extra.snippet}}
                </span>
            {% endif %}
        {% endif %}     
    {% endfor %}
</div>
{% endblock content %}
