{% extends "index.html" %}

{% block content %}
<div class="page-list">
    {% set pages = section.pages %}
    {% for sub in section.subsections %}
        {% set sub = get_section(path=sub) %}
        {% set_global pages = pages | concat(with=sub.pages) %}
    {% endfor %}
    {% set render_drafts = config.base_url == "dev" %}
    {% if config.base_url is not containing("freemasen") %}
    <div style="border:1px dashed red">
        <span>DRAFTS!!!</span>
        {% for page in pages | filter(attribute="draft", value=true) %}
            <a class="post-summary draft-summary" href="{{page.path}}" >
                <h2>{{page.title}}</h2>
            </a>
            {% if page.extra.snippet %}
            <span class="summary">
                {{page.extra.snippet}}
            </span>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% for page in pages | filter(attribute="draft", value=false) %}
        <a class="post-summary" href={% if page.extra.extern_link %}"{{page.extra.extern_link}}"{% else %}"{{page.path}}"{% endif %}>
            <h2>{{ page.title }}</h2>
            {%- if page.extra.extern_link -%}
            <img alt="external link" width="24" height="24" src="/images/external_link.svg" />
            {%endif%}
        </a>
        {% if page.extra.snippet %}
            <span class="summary">
                {{page.extra.snippet}}
            </span>
        {% endif %}    
    {% endfor %}
</div>
{% endblock content %}
